.visible{
    display: flex;
}

.invisible{
    display: flex;
}
.backtotop-container{
position: fixed;
bottom: 1.2rem;
right: 0;
}
.backtotop-container button{
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 1rem;
    font-style: "Inter";
    cursor: pointer;
    margin-right: 2rem;
}