.grid-container{
    align-items: flex-start;
    background-color: var(--darkgrey);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
    padding: 2rem;
    width: 300px
}
.grid-container:hover{
    border: 2px solid var(--green);
    scale:1.03;
    transition: scale 0.3s ease-in-out;
}
.image-title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    
}

.logo{
    margin-right: 1rem;
    width: 20%;
}
.coin-info{
    display: flex;
    flex-direction: column;
    
}

.symbol{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.symbol span{
    margin-left: 2rem;
}
.symbol span:hover{
    
}
.name{
    font-size: .8rem;
    margin-top: 0.2rem!important;
    opacity: .8;
}
.chip-flex{
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    margin-top: 1.5rem;
   
}

.price-chip{
    border: 2px solid var(--green);
    border-radius: 2rem;
    padding: 0.45rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color:  var(--green);
}
.price-chip:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.trend-icon{
    border: 2px solid var(--green);
    color:  var(--green);
    padding: 0.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trend-icon:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}
.chip-red{
    border: 2px solid var(--red);
    color:  var(--red);
}
.chip-red:hover{
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s;
}
.price{
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-top: 1.5rem;
}
.price-red{
    color: var(--red);
}
.mar-cap,.volume{
    font-size: .8rem;
    margin-top: 0.2rem;
    opacity: .8;
   
}
.volume{
    margin-top: 1.2rem;
}
.mar-cap span,.volume span{
    font-weight: 600;
}


/*hover effect on grid*/
.grid-container-red:hover{
    border: 2px solid var(--red);
    scale:1.03;
    transition: scale 0.3s ease-in-out ;
}

@media only screen and(max-width:800px){
  .grid-container{
    background-color: red;
  }
}

@media only screen and (max-width: 750px){
    .grid-container .image-title{
        /* background-color: red; */
        align-items: center;
    }
    .grid-container .coin-info{
        /* background-color: green; */
        height: 80%;
    }
    .grid-container .symbol {
        font-size: 1rem;
       
    }
    .grid-container .name {
        font-size: 0.8rem;
    }

   
    .grid-container 
    .grid-container .image-title .coin-info{
        margin-top: 0.5rem;
    }

    .grid-container .chip-flex .price-chip{
      font-size: 0.8rem;
      width: 100%;
    }
}