.btn{
    background-color: var(--blue);  
    border: 2px solid var(--blue);
    padding: 0.6rem 2rem;
    border-radius: 30rem;
    color: var(--white);
    font-size: 1rem;  
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    min-width: 150px;
   
}

.btn:hover{
    box-shadow: 1px 2px 7px 1px var(--blue);
    transition: all 0.3s;
    
}

.btn-outlined{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    font-size: 1rem;  
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    padding: 0.6rem 2rem;
    border-radius: 30rem;
    min-width: 150px;
    
}
.btn-outlined:hover{
    background-color: var(--blue);
    transition: all 0.3s; 
}